<div class="card">
  <div class="card-header">View Inventories</div>
  <div class="card-body">

    <table class="table">
      <thead>
        <tr>
          <th scope="col">#</th>
          <th scope="col">Inventory Name</th>
          <th scope="col">Inventory Quantity</th>
          <th scope="col">Created At</th>
          <th scope="col">Last Modified At</th>
          <th scope="col">Action</th>
        </tr>
      </thead>
      <tbody>
        <ng-container *ngIf="(inventories$ | async) as inventories">
          <tr *ngIf="!inventories || inventories?.length < 1">
            <td colspan="6">No data found</td>
          </tr>
          <ng-container *ngIf="inventories?.length > 0">
            <tr *ngFor="let inventory of inventories; let i = index">
              <th scope="row">{{ i + 1 }}</th>
              <td>{{ inventory.name }}</td>
              <td>{{ inventory.quantity }}</td>
              <td>{{ inventory.createdAt | date }}</td>
              <td>{{ inventory.lastModifiedAt | date }}</td>
              <td>
                <button (click)="update(inventory.id)" class="btn btn-info">Update</button>
                <button (click)="deleteInventory(inventory.id)" class="btn btn-danger">Delete</button>
              </td>
            </tr>
          </ng-container>
        </ng-container>
      </tbody>
    </table>
  </div>
</div>
